<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">

<th:block layout:fragment="content">
    <div id="main" class="row mt-2">
        <div class="col">
            <nav class="row navbar bg-primary bg-opacity-10">
                <div class="container-fluid">
                    <a href="#" class="col-6 text-end pe-4 text-dark pt-2" style="text-decoration: none;">
                        <h5 style="font-weight: bold;">영화</h5></a>
                    <a href="#" class="col-6 text-start ps-4 text-dark pt-2" style="text-decoration: none;">
                        <h5 style="font-weight: bold">예매</h5></a>
                </div>
            </nav>
            <div class="row mt-5">
                <div class="col-2">
                    <ul class="list-group">
                        <li class="list-group-item active" aria-current="true">예매 내역</li>
                        <li class="list-group-item">회원 정보 수정</li>
                    </ul>
                </div>
                <div class="col-10">
                    <div class="row">
                        <h3 style="font-weight: bold">회원 정보 수정</h3>
                    </div>
                    <div class="row" style="border-top: 1px solid black">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-3">
                                        <div class="row align-items-center">
                                            <p>프로필 사진</p>
                                        </div>
                                    </th>
                                    <td class="col-9">
                                        <div class="row align-items-center">
                                            <div class="col-2">
                                                <img src="/assets/img/profile.png" class="img-fluid" style="width: 50%">
                                            </div>
                                            <div class="col-8">
                                                <button class="btn btn-primary">이미지 등록</button>
                                            </div>
                                            <div class="col-2">
                                                <button class="btn btn-primary">회원 탈퇴</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>아이디</th>
                                    <td>yogurrr</td>
                                </tr>
                                <tr>
                                    <th>이름</th>
                                    <td>Jacob</td>
                                </tr>
                                <tr>
                                    <th class="col-3">
                                        <div class="row align-items-center">
                                            <p>비밀번호</p>
                                        </div>
                                    </th>
                                    <td class="col-9">
                                        <button class="btn btn-primary">비밀번호 변경</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-3">
                                        <div class="row align-items-center">
                                            <p>주소</p>
                                        </div>
                                    </th>
                                    <td class="col-9">
                                        <button class="btn btn-primary">우편번호 검색</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th>이메일 주소</th>
                                    <td>yogurrr@naver.com</td>
                                </tr>
                                <tr>
                                    <th>휴대폰 번호</th>
                                    <td>010-0000-0000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

</html>