<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">

<th:block layout:fragment="content">
    <div id="main">
        <div class="row">
            <div class="col-12">
                <h1 class="display-1 text-center p-3">Coming Soon</h1>
            </div>
            <div class="col-6 offset-3">
                <img src="/assets/img/moviesample.jpg" class="img-fluid" alt="cat">
            </div>
        </div>
        <div class="row">
            <div class="col-8 offset-2 text-center p-3">
                <p>가디언즈 오브 갤럭시 </p>
                <div><button class="btn btn-success">예매하기</button></div>
            </div>
        </div>

    </div>
</th:block>

</html>